.up{
background: linear-gradient(to right bottom, #483d5f, #2a2240);;
}
.img{
    width: 90%;
}
.img2{
    width: 90%;
}
.head{
    color: white; 
    padding: 100px 0;
}
h1{
    margin-top: 80px;
}
button{
    background-color: #ed9619;
    font-weight: 900;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    border: 0;
    color: white;
    margin-bottom: 40px;
    
}
a{
    color: white;
    text-decoration: none
}
a:hover{
    color: white;
    
}
button:hover{
    box-shadow:  0px 0px 20px #d1800e;
}
.what{
padding: 100px 0;
}
h2{
    font-weight: 900;
    margin-bottom: 50px;
}
.gr{
    background-color: gainsboro;
    padding: 70px 0;
}
.down{
    
color: azure;

}
.down h3{
    font-size: 10px;
    
}
.ds{
    background-color:  #201b2d;
}