.head{
 text-align: center;
 background-color: #ccc;
 padding: 50px 0px;
}
.f{
    background-color: rgb(228, 227, 227);
    border-left: 1px black solid;
    border-right: 1px black solid;
    
}
.ff{
    padding: 10px 30px;
}